		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="4u">
							<section>
								<header>
									<h2>Relevant sites</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Site 01</a></li>
									<li><a href="#">Site 02</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Important Informations</h2>
								</header>
								<ul class="divided">
									<li><a href="{{ site.baseurl }}/termsofuse.html">Terms of Use</a></li>
									<li><a href="{{ site.baseurl }}/privacypolicy.html">Privacy Policy</a></li>
									<li><a href="{{ site.baseurl }}/aboutus.html">About us</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Social Media</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-youtube" href="#"><span class="label">YouTube</span></a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>SugarPiano.com - copyright &copy; Sugar Piano Inc. - All rights reserved.</li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
