<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Sugar Piano</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
						<li>
							<a href="">For Beginner Level</a>
							<ul>
								<li><a href="#">Lesson 01</a></li>
								<li><a href="#">Lesson 02</a></li>
								<li><a href="#">Lesson 03</a></li>
								<li><a href="#">Lesson 04</a></li>
								<li><a href="#">Lesson 05</a></li>
								<li><a href="#">Lesson 06</a></li>
								<li><a href="#">Lesson 07</a></li>
								<li><a href="#">Lesson 08</a></li>
								<li><a href="#">Lesson 09</a></li>
								<li><a href="#">Lesson 10</a></li>
							</ul>
						</li>
							<li>
							<a href="">For Intermediate Level</a>
							<ul>
								<li><a href="#">Lesson 01</a></li>
								<li><a href="#">Lesson 02</a></li>
								<li><a href="#">Lesson 03</a></li>
								<li><a href="#">Lesson 04</a></li>
								<li><a href="#">Lesson 05</a></li>
								<li><a href="#">Lesson 06</a></li>
								<li><a href="#">Lesson 07</a></li>
								<li><a href="#">Lesson 08</a></li>
								<li><a href="#">Lesson 09</a></li>
								<li><a href="#">Lesson 10</a></li>
							</ul>
						</li>
						<li>
							<a href="">For Advanced Level</a>
							<ul>
								<li><a href="#">Lesson 01</a></li>
								<li><a href="#">Lesson 02</a></li>
								<li><a href="#">Lesson 03</a></li>
								<li><a href="#">Lesson 04</a></li>
								<li><a href="#">Lesson 05</a></li>
								<li><a href="#">Lesson 06</a></li>
								<li><a href="#">Lesson 07</a></li>
								<li><a href="#">Lesson 08</a></li>
								<li><a href="#">Lesson 09</a></li>
								<li><a href="#">Lesson 10</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/library">Library</a></li>
						<li><a href="{{ site.baseurl }}/Recommend">Recommend</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2> Hellow! This is Sugar Piano.</h2>
								<p>A piano club for all levels.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-cog"></i>
										<header>
											<h2>Ipsum consequat</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Magna etiam dolor</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Tempus adipiscing</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Get Started</a></li>
									<li><a href="#" class="button alt big">Learn More</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>