<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">Dopetrope</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
						<li>
							<a href="">Dropdown</a>
							<ul>
								<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li><a href="#">Veroeros feugiat</a></li>
										<li><a href="#">Nisl sed aliquam</a></li>
										<li><a href="#">Dolore adipiscing</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li>
						{% assign current = page.url | downcase | split: '/' %}
						<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
						<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
						<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
					</ul>
				</nav>

				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>

		</div>
	</div>